Source: chromiumos-ec
Section: python
Priority: optional
Maintainer: Heiko Stuebner <mmind@debian.org>
Build-Depends: debhelper (>=9), dh-python, python-all, python-setuptools
Standards-Version: 3.9.8
Homepage: https://chromium.googlesource.com/chromiumos/platform/ec

Package: python-ec3po
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The ChromeOS EC console interpreter
 EC-3PO is a console interpreter which migrates the rich debug console from the
 EC itself to the host. This allows for a rich debug console without impacting
 EC image sizes while also allowing the development of new console features.
 .
 This library is for example needed by the chromeos hcdtools to let servo board
 talk to ChromeOS devices.
